@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
/*=== Variables ===*/
/* === Layout === */
* {
  position: relative; }

html {
  padding: 0;
  margin: 0; }
  html a {
    text-decoration: none;
    color: #2e2e2e;
    transition: all 250ms ease; }
  html a:hover, html a:focus {
    color: #55c6f6;
    text-decoration: none; }
  html ul {
    -webkit-padding-start: 0;
    list-style-type: none; }

body {
  background: url(../img/michelle-goyette-background.jpg) center center no-repeat fixed;
  background-size: cover;
  font: 16px Raleway, sans-serif, Arial, Helvetica; }

body.site {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }

div.page-headings {
  margin-bottom: 20px;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  background-color: #086891;
  -webkit-box-shadow: 0px 7px 11px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 11px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 11px -1px rgba(0, 0, 0, 0.2); }
  div.page-headings .h2 {
    padding-top: 20px;
    padding-left: 20px; }

/* === Header === */
header {
  min-height: 100%;
  background-color: #0a8bc2;
  border-bottom: 1px solid #0979aa;
  z-index: 1000; }
  header ul.navigation-menu {
    display: block;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0;
    z-index: 1000; }
    header ul.navigation-menu #open-contact:hover {
      cursor: pointer; }
    header ul.navigation-menu a {
      font-weight: bold;
      height: 100%; }
    header ul.navigation-menu li {
      display: inline-block;
      padding: 10px 30px;
      border-bottom: 5px solid transparent; }
    header ul.navigation-menu li:hover {
      border-bottom: 5px solid #3dbef5;
      background: rgba(0, 0, 0, 0.6); }
      header ul.navigation-menu li:hover a {
        color: white; }
  header .brand-logo {
    padding: 10px;
    font-weight: bold; }

/* === Main Content === */
.main-content {
  background-color: rgba(9, 121, 170, 0.9);
  margin-top: 20px;
  color: #2e2e2e; }
  .main-content hr {
    border-top: 1px solid #2e2e2e; }

.updates {
  min-height: 400px;
  padding-bottom: 20px;
  border-right: 1px solid #086891;
  -webkit-box-shadow: 4px 0px 17px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 0px 17px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 0px 17px 0px rgba(0, 0, 0, 0.27); }

.single-update p {
  padding: 0 15px; }

.single-update .update-bullet-list {
  list-style-type: circle;
  padding-left: 55px; }

.single-update img {
  display: block;
  margin: 10px auto 0 auto; }

/* Dating Styles */
.date {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  margin-bottom: 7px; }
  .date .month {
    font-size: 12px; }
  .date .day {
    padding-top: 0; }

.date:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  cursor: default; }
  .date:hover .month {
    color: #0a8bc2; }
  .date:hover .day {
    color: white; }

/* ==== About Me ====*/
#about-box {
  padding: 10px 10px 10px 10px; }
  #about-box #about-pic {
    width: 100%;
    border-radius: 48%; }

/* ======= Testomonials ============*/
div.testimonials {
  background-color: rgba(9, 121, 170, 0.9);
  color: #2e2e2e;
  padding: 20px 0;
  margin: 20px 0 100px 0; }
  div.testimonials .client-name {
    text-transform: uppercase; }
  div.testimonials #left-quote {
    position: absolute;
    top: 20px;
    left: 20px; }
  div.testimonials #right-quote {
    position: absolute;
    top: 20px;
    right: 20px; }

div#slider {
  height: 200px;
  overflow: hidden; }

/* === Aside === */
.pricing {
  height: 100%;
  color: #2e2e2e;
  text-align: center; }
  .pricing li {
    line-height: 1.5em; }

/* === Contact Form Styles === */
.contact-form {
  padding: 15px;
  position: absolute;
  top: -560px;
  z-index: 1000;
  background-color: #0a8bc2;
  border: 1px solid #0979aa;
  -webkit-box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.29); }
  .contact-form #contact-close {
    float: right;
    z-index: 1000;
    color: red; }
  .contact-form #contact-close:hover {
    color: #cc0000;
    cursor: pointer; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    background-color: #065779;
    border: 1px solid black;
    color: white; }
  .contact-form textarea {
    padding: 6px 12px;
    border-radius: 4px; }
  .contact-form input::focus {
    border: 1px solid white; }
  .contact-form ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
    opacity: 0.7; }
  .contact-form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 0.7; }
  .contact-form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 0.7; }
  .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.7; }

/* === Footer ===*/
footer {
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #0979aa;
  padding: 1rem;
  text-align: center; }
  footer ul {
    display: block; }
    footer ul li {
      display: inline-block;
      padding: 2px 10px; }

@media (max-width: 700px) {
  .main-content {
    margin: 30px 0 100px 0; }
  /* Header Styles */
  header {
    height: 90px; }
    header ul.navigation-menu {
      min-height: 50px;
      text-align: center;
      font-size: 14px;
      padding-right: 0; }
      header ul.navigation-menu li {
        padding: 10px 20px; }
      header ul.navigation-menu li:hover {
        background: none;
        border-bottom: none; }
    header .brand-logo {
      text-align: center;
      padding-right: 0; }
  /* Updates */
  .updates {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .contact-form {
    margin: 0 10px; }
  div.testimonials {
    margin: -70px 10px 30px 10px; }
  /* Media Testimonials */
  div#slider {
    height: 350px;
    font-size: 14px;
    padding: 30px 15px; }
    div#slider .fa-quote-right:before {
      position: absolute;
      font-size: 20px;
      left: -6px; }
    div#slider .fa-quote-left:before {
      position: absolute;
      font-size: 20px;
      right: -6px; } }
