<h2>Updates</h2>
<hr />
<div class="single-update">
   <h6>By: Nick Myers</h6>
   <h6>Date: April 19, 2017</h6>
    <p>Today was a very productive day down at Michelle Goyette HQ. We just implemented in the testimonials section, and also finally got the content in for the about section. So check that out to find out a little bit of who Michelle is!
    </p>
</div>
<hr />
<div class="single-update">
   <h6>By: Nick Myers</h6>
   <h6>Date: April 3, 2017</h6>
    <p>This is the first official update. The website is up and under construction but we are making steady progress on a lot of different features that are going to go into this site over the next couple of weeks.</p>
    <p>You can expect to see a FAQs page and testimonials section being created as well as a finished About Michelle section which will have useful information to get to know her.</p>
    <p>If you have any questions please click the contact link at the top and send Michelle a message!</p>
</div>
<hr />

