<div class="row">
    <div class="page-headings">
        <span class="h2">Updates</span>
    </div>
</div>
<div class="single-update">
    <div class="date">
        <span class="month">OCT</span><br />
        <span class="day">13</span>
    </div>
    <p>Hey guys, <br />
        I'm back in action! The website is finally back up and just in time for me to share with you all something very cool and something that's dear to my heart. <br/><br/>I am doing another large group reading that is to benefit <b>Breaking the Silence</b>. Half of the proceeds of this event help this non-profit to help spread awareness against child abuse. <br /><br />Here is the info of the event:</p>
    <ul class="update-bullet-list"><b>
        <li>Place: Clovis Veterans Memorial District in the Patriot Room</li>
        <li>When: November 18th, 2018</li>
        <li>Time: 4pm</li>
        <li>Price: $50 early bird special! Early bird ends on November 1st and then prices go up to $60.</li>
        <li>Address: 808 4th St., Clovis CA, 93612</li></b>
        </ul>
    <p>Seating is limited so get your tickets today by contacting me via phone or through sending me a message through here or on Facebook!</p>
    <p>Want to share the flier? You can download it right <b><a href="img/michelle-goyette-group-reading-break-the-silence.jpg" target="_blank">HERE</a></b></p>
</div>
<hr />
<div class="single-update">
    <div class="date">
        <span class="month">AUG</span><br />
        <span class="day">28</span>
    </div>
    <p>We are happy to announce that Michelle will be doing another group reading in September so get your tickets today! Information for the event is as follows:</p>
    <ul class="update-bullet-list"><b>
        <li>Place: DiCiccos Italian Resteraunt</li>
        <li>When: September 23rd, 2017</li>
        <li>Time: 6pm-8:30pm</li>
        <li>Price: $40 early bird special! Early bird ends on Sept 16th at 4pm (Dinner Included) ($50 at the door)</li>
        <li>Address: 408 Clovis Ave., Clovis CA, 93612</li></b>
        </ul>
    <p>Seating is limited so get your tickets today by contacting Michelle via phone or through sending her a message through here!</p>
    <p>Want to share the flier? You can download it right <b><a href="img/michelle-flier-sept-2017.jpg" target="_blank">HERE</a></b></p>
</div>
<hr />
<div class="single-update">
    <div class="date">
        <span class="month">JUN</span><br />
        <span class="day">13</span>
    </div>
    <p> We have a mobile friendly update coming in hot. We made adjustments to the way mobile devices see the website as well as made some adjustments to the testimonials in mobile. We also added a new date design. Finally, as per request, we slowed down the testimonials so ya'll can read them better. Cheers!
    </p>
</div>
<hr />
<div class="single-update">
    <div class="date">
        <span class="month">APR</span><br />
        <span class="day">19</span>
    </div>
    <p>Today was a very productive day down at Michelle Goyette HQ. We just implemented in the testimonials section, and also finally got the content in for the about section. So check that out to find out a little bit of who Michelle is!
    </p>
</div>
<hr />
<div class="single-update">
    <div class="date">
        <span class="month">APR</span><br />
        <span class="day">3</span>
    </div>
    <p>This is the first official update. The website is up and under construction but we are making steady progress on a lot of different features that are going to go into this site over the next couple of weeks.</p>
    <p>You can expect to see a FAQs page and testimonials section being created as well as a finished About Michelle section which will have useful information to get to know her.</p>
    <p>If you have any questions please click the contact link at the top and send Michelle a message!</p>
</div>


