<div class="row">
    <div class="page-headings">
        <span class="h2">Updates</span>
    </div>
</div>
<div class="single-update">
    <div class="date">
        <span class="month">MAR</span><br />
        <span class="day">24</span>
    </div>
    <p>Hey everyone! Seats are already being purchased for my next event to be held on Sunday, April 28th 12 noon which will be a luncheon hosted at THE POINT Patio Bar & Bistro with an audience reading to follow in the private banquet room. ****NO ADMISSION AT THE DOOR. **** This is a pre-paid event. Please no little ones or children under 10 years of age for less distractions and consideration. Those interested may contact me directly and purchase seating through payment methods via the Venmo app, Facebook Messenger app, PayPal (4$ service fee for PayPal) or you’re also able to pay me directly in person. Once you purchase your name will go on a list of attendees. Ticket/ admission is non-refundable unless event is cancelled. Please contact me if interested with the contact information below. Flyers will be out circulating soon. As always, THANK YOU!!
    <ul class="update-bullet-list"><b>
        <li>Place: The Point Patio Bar & Bistro</li>
        <li>When: April 28th, 2019</li>
        <li>Time: 12:00pm</li>
        <li>Price: $50 early bird special! Early bird ends on April 1st and then prices go up to $60.</li>
        <li>Address:  2940 E Nees Ave #107, Fresno, CA 93720</li></b>
        </ul>
    <p>Seating is limited so get your tickets today by contacting me directly via phone, e-mail, or on facebook!</p>
    <ul class="update-bullet-list"><b>
        <li>Phone: (559) 970-7267</li>
        <li>E-mail: <a href="mailto:happymedium444@gmail.com">happymedium444@gmail.com</a></li></b>
    </ul>
</div>
<div class="single-update">
    <div class="date">
        <span class="month">JAN</span><br />
        <span class="day">13</span>
    </div>
    <p>I'm excited to announce my first public audience reading of 2019!<br /><br />
        For those who bring a gift certificate and donate to families who have been displaced from the Paradise and Camp fires, your names will be entered into a drawing to win a FREE private reading with me. I will be drawing TWO names for this donation. Acceptable gift cards for Target or Walmart only to make it easier to detect honest active amounts on the cards. I am working closely with a trusted friend to ensure the gift cards go directly to those families in need who are literally starting over after loosing their homes to the awful fires. Seating is limited to first come first serve. No admission at the door.
    <ul class="update-bullet-list"><b>
        <li>Place: Fairfield Inn & Suites Marriot Hotel in the Sierra Room.</li>
        <li>When: February 16th, 2018</li>
        <li>Time: 3pm</li>
        <li>Price: $50 early bird special! Early bird ends on Feb 1st and then prices go up to $60.</li>
        <li>Address:  50 N Clovis Ave, Clovis, CA 93612</li></b>
        </ul>
    <p>Seating is limited so get your tickets today by contacting me directly via phone, e-mail, or on facebook!</p>
    <ul class="update-bullet-list"><b>
        <li>Phone: (559) 970-7267</li>
        <li>E-mail: <a href="mailto:happymedium444@gmail.com">happymedium444@gmail.com</a></li></b>
    </ul>
</div>
