<h2>About</h2>
<div id="about-box">
    <div class="col-md-4"><img id="about-pic" src="img/michelle-image.jpg" /></div><!-- About picture -->
    <div class="col-md-8">
        <p>I am proud to say that I help people with my psychic medium abilities. I am able to connect with passed loved ones to relay messages. I am just the messenger and my job is to deliver specific information so that you know your loved ones survive physical death and that Spirit lives on. The rewarding feeling of love I get when I receive messages from loved ones is like no other and my goal is to help those who are going through grief in the healing process. I am just a vessel and this is my gift.
        I am a mom, a friend and an ordinary person with an extraordinary gift. I am very grateful for my abilities and that the spirits work with me to bridge the gap between the physical & spirit world. </p>
    </div><!-- about section -->
</div>